.footer {
  grid-area: footer;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* max-height: 80px; */
  background-color: #27273e;
  /* justify-content: space-between; */
  /* display: none; */
  color: white;
  position: relative;
}


.footer__author_info {
  margin: 10px 17px;
  width: 350px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.footer__logo--fig {
  position: absolute;
  left: 45%;
  top: 10px;
  /* transform: (-30%) */
}

.footer__social {
  position: absolute;
  right: 9px;
  top: 12px;
}

.social__title {
  font-family: "GothamPro";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #fff;
}


.social__list {
  margin-top: 9px;
  padding: 0;
}

.social__item {
  display: inline-block;
  opacity: 0.75;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  /* margin: 0; */
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}

.social__item--active {
  background-color: #ec1e79;
}