.header {
  grid-area: header;
  display: grid;
  /* max-height: 120px; */
  background-color: #27273e;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.header__logo--fig {
  padding: 18px;
}


.header__contact_info {
  padding: 22px 14px 0 0;
  text-align: end;
}

.contact_info__phone {
  /* font-family: "GothamPro"; */
  font-weight: 700;
  font-size: 21px;
  color: #fff;
  padding-right: 6px;
}

.contact_info__worktime {
  font-size: 14px;
  color: rgba(236, 30, 121, 0.7);
  text-decoration: underline;
  font-family: "open_sansbold", "GothamPro", "Roboto", "Arial";
  font-weight: 700;
  margin-right: 8px;

}

/* .banner__img {
  max-width: 100%;
} */