html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "GothamPro", "Roboto", "Arial";
  /* font-weight: bolder; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

.wrapper {
  margin: auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: 80px 40px 359px auto 80px;
  grid-template-columns: 200px auto;
  max-width: 1100px;
  grid-template-areas: "header header""banner banner""space space""sidebar main""footer footer"
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}