.articles_block {
	margin-bottom: 70px;
	display: flex;
	flex-direction: column;

}

.articles_block__list_wrapper {
	margin-bottom: 65px;
}

.v2 .articles_block__list_wrapper {
	margin-bottom: 40px;
}

.articles_block__item {
	padding-bottom: 20px;
	border-bottom: 2px solid #f5f5f5;
	margin-bottom: 25px;
}

.articles_block__item:last-child {
	/*ты, вроде , говорил что иначе прыгать может*/
	border-bottom: 2px solid transparent;
	padding-bottom: 0;
	margin-bottom: 0;
}

.articles_block__title {
	margin-bottom: 70px;
}

.v2 .content__articles_block {
	align-items: flex-start;
	margin-bottom: 55px;
}

.v2 .articles_block__pagination {
	margin-left: 200px;
}