.article {
	display: flex;
}

.article__img_wrapper {
	background-image: url('/img/ellipse-1.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	overflow: hidden;
	width: 160px;
	height: 160px;

	flex-shrink: 0;
	margin-right: 18px;
	object-fit: cover;
}

.article__img {
	object-fit: cover;
	display: block;
	border-style: none;
	max-height: 100%;
	max-width: 100%;
}

.article__img_placeholder {
	content: url('/img/logo-fig.png');
	text-align: center;
	filter: grayscale(100%);
	object-fit: scale-down;
	display: block;
	border-style: none;
	max-height: 100%;
	max-width: 100%;
}


.article__date {
	font-family: "Roboto";
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
}

.article__title {
	font-size: 18px;
	font-family: "Roboto";
	font-weight: bold;
	font-style: normal;
	margin-bottom: 11px;
}

.article__text {
	font-size: 18px;
	font-family: "Roboto";
	font-weight: 300;
	font-style: normal;
	line-height: 30px;

}