.feature_point {
	font-size: 18px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.v2 .feature_point {
	border: solid 1px #e8e9ed;
}

.feature_point__img_wrapper {
	width: 68px;
	height: 68px;

	background-color: #27273e;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	margin-bottom: 35px;
}

.feature_point__title {
	margin: 30px auto;
	text-transform: uppercase;
}

.feature_point__name {
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 2.6px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.feature_point__description {
	text-align: center;
	line-height: 30px;
	margin-bottom: 8px;
	font-weight: normal;
}

.feature_point__list {
	margin-left: 5%;
	text-align: left;
	font-weight: normal;
}

.v2 .feature_point__list {
	margin-left: 25%;
}

.feature_point__list_item {

	margin-bottom: 15px;
}

.feature_point__list_item::before {
	content: "\2022";
	color: #cc3366;
	margin-right: 28px;
	vertical-align: middle;
}