.footer {
  display: flex;
  /* color: white; */
  justify-content: space-between;
}


.footer .container {
  align-items: center;
}


.footer__col {
  flex: 1;

}



.footer__author_info {
  max-width: 270px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}


.footer a {
  font-weight: 700;
  text-decoration: underline;
  color: #ffffff;
}

.footer__logo_pic {
  max-height: 100%;
  display: flex;
  justify-content: center;
  /* padding-right: 9.5%; */

}

.footer__col--right {
  display: flex;
  justify-content: flex-end;
}