.header {
  background-color: #27273e;
  margin-bottom: 40px;
}

.header.index_page {
  margin-bottom: 55px;
}

.v2 .header {
  margin-bottom: 30px;
}

.header .container {
  align-items: center;
}

.header__logo_pic {
  max-height: 100%;
  max-width: 100%;
}